<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layoutEtudiant}">
		
<head>
<meta charset="utf-8"/>
<title>Mes Notes</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
		th:href="@{/css/bootstrap.min.css}"/>
		
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
		th:href="@{/css/style.css}"/>
		
</head>
<body >
<div layout:fragment="custom-content" >
<div class="container">

	<img
    	src="/css/insea.jpg"
    	alt="[photo insea"
    	height="120px"
    	width="200px"
	/>
	<span class="prof" th:text="${'Etudiant(e). ' + compte.username}"></span>
	&emsp;&emsp;<span class="prof" th:text="${'Niveau. ' + etudiant.niv_fil.niveau}"></span>
	&emsp;&emsp;<span class="prof" th:text="${'Filière. ' + etudiant.niv_fil.filiere}"></span>
	
	<h3 class = "green">Mes Notes</h3>
	
	
	 
	<div  >
	
	<table class="table spacer"> 
	
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom de Module</th><th>Nom d'élément</th><th>Pourcentage d'élément</th>
				<th>Note Final</th>
			</tr>
		</thead>
		<tbody>
			<tr  th:each="nf:${notesfinales}">
				<td th:text="${nf.id}"></td>
				<td th:text="${nf.element.module.nom}"></td>
				<td th:text="${nf.element.elt_nom}"></td>
				<td th:text="${nf.element.pourcentage + ' %'}"></td>
				<td th:text="${nf.note}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	
	
</div>

</div>
</body>
</html>